@model DetailViewModel

@Html.AntiForgeryToken()

<div id="@(Model.ViewID)_viewHeader">

    @if (Model.TopToolbar.Any(f=> f.Visible))
    {
        <div class="toolbarHeader">
            @Html.DevExtreme().Toolbar().ID(Model.ViewID + "_topToolbar").Items(t=> {
                   foreach (var btn in Model.TopToolbar)
                   {
                       t.Add().VascoSetupViewToolbarButton(Model, btn);
                   }
            })
        </div>
    }

</div>

@* DETAILVIEW *@
@Html.Partial(Model.ViewPath, Model)

<div id="@(Model.ViewID)_viewFooter">
    @if (Model.BottomToolbar.Any(f => f.Visible))
    {
        <div class="toolbarFooter">
            @Html.DevExtreme().Toolbar().ID(Model.ViewID + "_bottomToolbar").Items(t=> {
                   foreach (var btn in Model.BottomToolbar)
                   {
                       t.Add().VascoSetupViewToolbarButton(Model, btn);
                   }
            })
        </div>
    }
</div>

<script>
    @if (Model.BottomToolbar.Any() || Model.TopToolbar.Any() )
      {
          <text>
              //VIEW TOOLBAR CLICKED
              function @(Model.ToolbarButtonJSClickedFuncName)(e) {
                var param = Vasco.util.toolbarParam(e);

                if (param.buttonCommand > 0) {

                    switch (param.buttonCommand) {

                        default:
                            break;
                    }

                } else {
                    var fn = window["@(Model.DetailViewToolbarButtonJSClickedFuncName)"];
                    if (typeof fn === "function") {
                        fn(param);
                    }

                    if (!param.cancel) {

                        if (param.controllerNameRedirect && param.actionNameRedirect) {
                            Vasco.server.goTo(param.controllerNameRedirect, param.actionNameRedirect, null, false);
                        }

                    }
                }
            }
         </text>
      }
</script>




