@model ListViewModel
@* LISTVIEW *@
@Html.AntiForgeryToken()

<div id="@(Model.ViewID)_viewHeader">

    @if (Model.TopToolbar.Any(f => f.Visible))
    {
        <div class="toolbarHeader">
            @Html.DevExtreme().Toolbar().ID(Model.ViewID + "_topToolbar").Items(t=> {
                   foreach (var btn in Model.TopToolbar)
                   {
                       t.Add().VascoSetupViewToolbarButton(Model, btn);
                   }
            })
        </div>
    }


</div>

@Html.Partial(Model.ViewPath, Model)


<div id="@(Model.ViewID)_viewFooter">
    @if (Model.BottomToolbar.Any(f => f.Visible))
    {
        <div class="toolbarFooter">
            @Html.DevExtreme().Toolbar().ID(Model.ViewID + "_bottomToolbar").Items(t=> {
                   foreach (var btn in Model.BottomToolbar)
                   {
                       t.Add().VascoSetupViewToolbarButton(Model, btn);
                   }
            })
        </div>
    }

</div>


<script>

    @if (Model.AllowInsert && !string.IsNullOrEmpty(Model.InsertFormAction))
    {
        <text>
            function  @(Model.InsertJSFuncName)(e) {
                var listViewInstance = $('#@(Model.ViewID)').dxDataGrid('instance');
                var openAsDialog = listViewInstance.option('vasco.insertFormActionAsDialog');
                var reqData = {};

                if (openAsDialog) {

                        reqData.ListViewID = '@(Model.ViewID)';
                        Vasco.ui.showBusy("... pripravljam podatke ...");
                        Vasco.server.getData('@(Model.Controller)', '@(Model.InsertFormAction)', reqData, function (resultData) {
                            $("<div/>").append(resultData).appendTo($("body"));
                        }, function () {
                            //fail
                        }, function () {
                            Vasco.ui.hideBusy();
                        });
                } else {

                    if (e.event.ctrlKey)
                        Vasco.server.goToNewTab('@(Model.Controller)', '@(Model.InsertFormAction)', reqData);
                    else
                        Vasco.server.goToWithHistory('@(Model.Controller)', '@(Model.InsertFormAction)', reqData);
                }
            }
        </text>
    }

    @if (Model.AllowView && !string.IsNullOrEmpty(Model.ViewFormAction))
    {
        <text>

        function @(Model.ViewJSFuncName)(e, rowData) {

            var listViewInstance = $('#@(Model.ViewID)').dxDataGrid('instance');
            var openAsDialog = listViewInstance.option('vasco.viewFormActionAsDialog');

            var reqData = {};
            reqData.ListViewID = '@(Model.ViewID)';

            @foreach (var k in Model.Key)
            {
                 <text>
                 reqData.@(k) = rowData.@(k);
                 </text>
            }

            if (openAsDialog) {


                Vasco.ui.showBusy("... pripravljam podatke ...");
                Vasco.server.getData('@(Model.Controller)', '@(Model.ViewFormAction)', reqData, function (resultData) {
                    $("<div/>").append(resultData).appendTo($("body"));
                }, function () {
                    //fail
                }, function () {
                    Vasco.ui.hideBusy();
                });

            } else {

                if (e.event.ctrlKey)
                    Vasco.server.goToNewTab('@(Model.Controller)', '@(Model.ViewFormAction)', reqData);
                else
                    Vasco.server.goToWithHistory('@(Model.Controller)', '@(Model.ViewFormAction)', reqData);
            }

        }
    </text>
    }

    @if (Model.AllowEdit && !string.IsNullOrEmpty(Model.EditFormAction))
    {
        <text>

        function @(Model.EditJSFuncName)(e, rowData) {

            var listViewInstance = $('#@(Model.ViewID)').dxDataGrid('instance');
            var openAsDialog = listViewInstance.option('vasco.editFormActionAsDialog');

            var reqData = {};
            reqData.ListViewID = '@(Model.ViewID)';

            @foreach (var k in Model.Key)
            {
               <text>
                 reqData.@(k) = rowData.@(k);
               </text>
            }

            if (openAsDialog) {

                        Vasco.ui.showBusy("... pripravljam podatke ...");
                        Vasco.server.getData('@(Model.Controller)', '@(Model.EditFormAction)', reqData, function (resultData) {
                            $("<div/>").append(resultData).appendTo($("body"));
                        }, function () {
                            //fail
                        }, function () {
                            Vasco.ui.hideBusy();
                        });
            } else {

                if (e.event.ctrlKey)
                    Vasco.server.goToNewTab('@(Model.Controller)', '@(Model.EditFormAction)', reqData);
                else
                    Vasco.server.goToWithHistory('@(Model.Controller)', '@(Model.EditFormAction)', reqData);
            }


        }
    </text>
    }

    @if (Model.AllowDelete && !string.IsNullOrEmpty(Model.DeleteAction))
    {
        <text>
        function @(Model.DeleteJSFuncName)(e, rowData) {
        Vasco.ui.showYesNo("Ali res izbrišem zapis "+@(Model.RowTextJSFuncName)(rowData)+"?", "Potrditev brisanja", function () {

            var reqData = {};
            @foreach (var k in Model.Key)
            {
                    <text>
                        reqData.@(k) = rowData.@(k);
                    </text>
            }
            reqData.ListViewID = '@(Model.ViewID)';

            Vasco.ui.showBusy("... izvajam brisanje ...");
            Vasco.server.saveData('@(Model.Controller)', '@(Model.DeleteAction)', reqData, function (resultData) {
                if (resultData.Status == 1) {
                    Vasco.ui.showSuccess(resultData.Message, 2000);
                    $('#@(Model.ViewID)').dxDataGrid('refresh');
                } else {
                    Vasco.ui.showError(resultData.Message, 2000);
                }

                }, function () {
                    //fail
                }, function () {
                    Vasco.ui.hideBusy();
                });
        });
            }
        </text>
    }

    function  @(Model.RowTextJSFuncName)(rowData) {
        return @Html.Raw(Model.RowTextDisplayExpression);
    }

    function  @(Model.DialogResultJSFuncName)(result) {
        if (result && !result.cancel && (result.dialogResult == "drYes" || result.dialogResult == "drOk" || result.dialogResult == "drConfirm")) {
            $('#@(Model.ViewID)').dxDataGrid('refresh');
        }
    }


     //VIEW TOOLBAR CLICKED
    @if (Model.BottomToolbar.Any() || Model.TopToolbar.Any() )
      { 
          <text>
              //PAGE TOOLBAR CLICKED
              function @(Model.ToolbarButtonJSClickedFuncName)(e) {

                var param = Vasco.util.toolbarParam(e);

                if (param.buttonCommand > 0) {

                    switch (param.buttonCommand) {

                        default:
                            break;
                    }

                } else {
                     //obstaja handler, ki je definiran v DetailView
                    var fn = window["@(Model.ListViewToolbarButtonJSClickedFuncName)"];
                    if (typeof fn === "function") {
                        fn(param);
                    }

                    if (!param.cancel) {

                        if (param.controllerNameRedirect && param.actionNameRedirect) {
                            Vasco.server.goTo(param.controllerNameRedirect, param.actionNameRedirect, null, false);
                        }
                    
                    }
                }
            }
         </text>
      }

</script>









