@if (TempData["LastSuccessMessage"] != null)
{
    <script>
    $(document).ready(function () {
        Vasco.ui.showSuccess('@Html.Raw((string)TempData["LastSuccessMessage"])',2500);
    });
    </script>
}

@if (TempData["LastErrorMessage"] != null)
{
    <script>
    $(document).ready(function () {
        Vasco.ui.showError('@Html.Raw((string)TempData["LastErrorMessage"])',2500);
    });
    </script>
}