<!DOCTYPE html>

<html>
<head>
    @{ string dxVersion = "?ver=17.2.7"; }
    @{ string appVersion = "?ver=1.10"; }
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/devextreme/dx.common.css@(dxVersion)" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.compact.css@(dxVersion)" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/js/devextreme/cldr.js@(dxVersion)"></script>
    <script src="~/js/devextreme/cldr/event.js@(dxVersion)"></script>
    <script src="~/js/devextreme/cldr/supplemental.js@(dxVersion)"></script>
    <script src="~/js/devextreme/cldr/unresolved.js@(dxVersion)"></script>

    <script src="~/js/devextreme/globalize.js@(dxVersion)"></script>
    <script src="~/js/devextreme/globalize/message.js@(dxVersion)"></script>
    <script src="~/js/devextreme/globalize/number.js@(dxVersion)"></script>
    <script src="~/js/devextreme/globalize/currency.js@(dxVersion)"></script>
    <script src="~/js/devextreme/globalize/date.js@(dxVersion)"></script>

    @* JSZip for client side export *@
    @*<script src="~/js/devextreme/jszip.js"></script>*@

    <script src="~/js/devextreme/dx.all.js@(dxVersion)"></script>
    <script src="~/js/devextreme/vectormap-data/world.js@(dxVersion)"></script>
    <script src="~/lib/devextreme-aspnet-data/js/dx.aspnet.data.js@(dxVersion)"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js@(dxVersion)"></script>
    <script src="~/js/devextreme/localization/dx.messages.sl.js@(dxVersion)"></script>
    <script src="~/js/Site.js@(appVersion)"></script>
    <script src="~/js/vascolib.js@(appVersion)"></script>

    <script type="text/javascript">
                Vasco.resources.init("@VascoWebHelper.AppBaseUrl");
    </script>

</head>

<body>
    <!--GLAVA-->
    <div class="vascoHeader">
        <div class="row">
            <div class="col-4">
                @(Html.DevExtreme().Button()
                                    .Icon("menu")
                                    .Type(ButtonType.Default)
                                    .OnClick("sidebarMenuClicked")
                )
            </div>
            <div class="col-8 text-right">
                Jože novak
            </div>
        </div>
    </div>


    <!--SIDEBAR-->
    <div id="vascoSidebar" class="vascoSidebar">
        @await  Component.InvokeAsync("Menu")
    </div>

    <!--VSEBINA-->
    <div id="vascoContent" class="vascoContentSidebar ml-1">
            @RenderBody()
    </div>


        <!--NOGA-->
        <div id="vascoFooter" class="vascoFooter">
            <div class="row ml-1 mr-1">
                <div class="col-7 text-left">
                    WebLib v1.0 - (c) 2018 Vasco d.o.o.
                </div>
                <div class="col-5 text-right">
                    Baza: Podjetje d.o.o.
                </div>
            </div>
        </div>



</body>

</html>