<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Napaka
                </h1>
                <h2>
                    Ne najdem strani oz. podatkov
                </h2>
            </div>
        </div>
    </div>
</div>