@model DelavecDetailView

@(Html.VascoDetailView<PNW_DELAVEC>(Model)    
    .Items(i =>
    {
        i.AddSimpleFor(f => f.SIFRA).Editor(e=> e.NumberBox().ReadOnly(Model.EditState != ViewEditState.Insert));
        i.AddSimpleFor(f => f.PRIIMEK).Editor(e => e.TextBox());
        i.AddSimpleFor(f => f.NASLOV);
        i.AddSimpleFor(f => f.POSTA);
        i.AddSimpleFor(f => f.DELOVNO_MESTO);
        i.AddSimpleFor(f => f.KONTO);
        i.AddSimpleFor(f => f.SM).Editor(e => e.SelectBox().SetupVascoSifEdit(SifEditViewModel.NewInstance($"{Model.ViewID}_SM", "SIFRA", "NAZIV", Model.ViewID).DataSource(ViewStrings.Controller.SM).SetDefaultValueObject((Model.FormData as PNW_DELAVEC).SM_OBJ).SetDefaultValue((Model.FormData as PNW_DELAVEC).SM)));
        i.AddSimpleFor(f => f.SM2).Editor(e => e.SelectBox().SetupVascoSifEdit(SifEditViewModel.NewInstance($"{Model.ViewID}_SM2", "SIFRA", "NAZIV", Model.ViewID).DataSource(ViewStrings.Controller.SM2).SetDefaultValueObject((Model.FormData as PNW_DELAVEC).SM2_OBJ).SetDefaultValue((Model.FormData as PNW_DELAVEC).SM2)));
        i.AddSimpleFor(f => f.SM3);
        i.AddSimpleFor(f => f.KM_V_SLUZBO);
        i.AddSimpleFor(f => f.DAVCNA);
        i.AddSimpleFor(f => f.TRR);
        i.AddSimpleFor(f => f.VOZILO).Editor(e=> e.SelectBox().SetupVascoSifEdit(SifEditViewModel.NewInstance($"{Model.ViewID}_VOZILO","SIFRA","OPIS", Model.ViewID).DataSource(ViewStrings.Controller.Vozilo).SetDefaultValueObject((Model.FormData as PNW_DELAVEC).VOZILO_OBJ).SetDefaultValue((Model.FormData as PNW_DELAVEC).VOZILO)));
        i.AddSimpleFor(f => f.SKUPINA);
        i.AddSimpleFor(f => f.NALOGODAJALEC);
        i.AddSimpleFor(f => f.DO_UREDBE);
        i.AddSimpleFor(f => f.FA_KOMERCIALIST);
        i.AddSimpleFor(f => f.NEAKTIVEN);
        i.AddSimpleFor(f => f.EMAIL);
        i.AddSimpleFor(f => f.EMAIL_GESLO);
        i.AddSimpleFor(f => f.TERENEC);
        i.AddSimpleFor(f => f.OBRACUNOVALEC);
        i.AddSimpleFor(f => f.REK_PARAM);
    })
    )



<script>
    function @(Model.DetailViewToolbarButtonJSClickedFuncName)(arg) {
        switch (arg.tag) {
            case "001":
                var formInstance = $(@(Model.ViewID)).dxForm('instance');
                var smEdit = formInstance.getEditor('SM');
                smEdit.option('value', 2);
                console.log("Form data after action");
                var formData = formInstance.option('formData');
                console.log(formData);
                break;
            default:
        }
    }

    function @($"{Model.ViewID}_VOZILO_ValueChanged")(arg) {
        console.log("VOZILO change");
        console.log(arg);
     }
</script>
