@model DelavecListView

@(Html.VascoListView<PNW_DELAVEC>(Model)
            .Columns(c =>
            {
                c.AddFor(m => m.SIFRA);
                c.AddFor(m => m.PRIIMEK);
                c.AddFor(m => m.NASLOV);
                c.AddFor(m => m.POSTA);
                c.AddFor(m => m.DELOVNO_MESTO);
                c.AddFor(m => m.KONTO);
                c.AddFor(m => m.DAVCNA);
            })
)

<script>
     function @(Model.ListViewToolbarButtonJSClickedFuncName)(arg) {
        switch (arg.tag) {
            case "Filter":
                var param = {};
                Vasco.ui.showDialogView('Delavec', 'FilterDetailViewDialog', param, function (result) {
                    if (result.dialogResult == "drConfirm") {
                        console.log(result);
                        Vasco.ui.showInfo("TODO filter", 3000);
                    }
                });
                break;
            default:
        }
    }
</script>
