html {
    height: 100%;
    box-sizing: border-box;
}
.vascoHeader {
    background-color: rgb(52, 152, 219);
    min-width: 400px;
    color: #ffffff;
    position: fixed;
    padding: 4px;
    top: 0;
    width: 100%;
    height: 55px;
    line-height: 47px;
    z-index: 0;
}

.vascoSidebar {
    top: 56px;
    bottom: 39px;
    position: fixed;
    width: 299px;
    box-shadow: 2px 4px rgba(136, 136, 136, 0.08);
    overflow: auto;
}

.vascoContentSidebar {
    top: 56px;
    bottom: 39px;
    left: 310px;
    position: fixed;
    overflow: auto;
    right: 10px;
}

.vascoContentNoSidebar {
    top: 56px;
    bottom: 39px;
    position: fixed;
    left: 10px;
    overflow: auto;
    right: 10px;
}

.vascoFooter {
    background-color: rgb(52, 152, 219);
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    z-index: 0;
}

.dx-datagrid-search-panel {
    margin: 0;
    margin-left: 0px !important;
}


.toolbarHeader {
    padding-top: 10px;
    padding-bottom: 10px;
}

.toolbarFooter {
    padding-top: 10px;
    padding-bottom: 10px;
}


/*
.dx-button-default {
    background-color: rgb(52, 152, 219) !important;
    border-color: rgb(62, 162, 229) !important;
    color: #fff;
}
    */
