@model DialogViewModel

@{ var popup = Html.DevExtreme().Popup()
                             .ID(Model.DialogID)
                             .ElementAttr("View", "DialogView")
                             .FullScreen(Model.FullScreen)
                             .ShowTitle(Model.ShowTitle)
                             .Title(Model.Title)
                             .Visible(Model.Visible)
                             .DragEnabled(Model.DragEnabled)
                             .CloseOnOutsideClick(Model.CloseOnOutsideClick)
                             .OnHidden(Model.DialogID + Model.HiddenJSFuncName)
                             .OnShown(Model.DialogID + Model.ShownJSFuncName)
                             .ToolbarItems(t =>
                             {
                                //TOP TOOLBAR
                                if (Model.TopToolbar.Any(f => f.Visible))
                                 {
                                     foreach (var topButton in Model.TopToolbar)
                                     {
                                         t.Add().VascoSetupDialogToolbarButton(Model, false, topButton);
                                     }
                                 }

                                 //BOTTOM TOOLBAR
                                 if (Model.BottomToolbar.Any(f => f.Visible))
                                 {
                                     foreach (var bottomButton in Model.BottomToolbar)
                                     {
                                         t.Add().VascoSetupDialogToolbarButton(Model, true, bottomButton);
                                     }
                                 }

                             });

        if (Model.ViewModel.IsDetailViewModel())
        {
            popup.ContentTemplate( @<text>
            @(Html.DevExtreme().ScrollView().Content(

                Component.InvokeAsync(ViewStrings.Components.DetailView, new { model = Model.ViewModel }).Result.GetHtmlContentString()

                          ))
            </text>);
 }
 else
 if (Model.ViewModel.IsListViewModel())
 {
     popup.ContentTemplate( @<text>
    @await Component.InvokeAsync(ViewStrings.Components.ListView, new { model = Model.ViewModel })
    </text>);
}

popup.Render();
    }


    <script>
    function @(Model.DialogID + Model.HiddenJSFuncName)(e) {
        $("#@Model.DialogID").parent().remove();
    }

    function @(Model.DialogID + Model.ShownJSFuncName)(e) {
        @if (Model.ViewModel.IsDetailViewModel())
        {
            <text>
                var formInstance = $("#@Model.ViewModel.ViewID").dxForm('instance');
                formInstance.vascoFocus();
            </text>
        }
    }

    function @(Model.DialogID + Model.ToolbarButtonJSClickedFuncName)(e) {
        var param = Vasco.util.toolbarParam(e);

        var fnDialogResult = function () {
            //kličemo dialog result v parent view
            if (param.parentViewID && param.parentViewID.length > 0) {
                var fnParent = window[param.parentViewID + "_DialogResult"];
                if (typeof fnParent === "function") {
                    fnParent(param);
                }
            } else {  //kličemo dialog result v funkcijo (to je lahko v primeru Vasco.ui.showDialogView)
                var dialogInstance = $("#@(Model.DialogID)").dxPopup('instance');
                fnCallback = dialogInstance.option('vasco.dialogResult');
                if (typeof fnCallback === "function") {
                    fnCallback(param);
                }
            }
        };

        @if (Model.ViewModel.IsListViewModel())
        {
            <text>
            var fnDialogSelectionResult = function (selectedData) {
                //kličemo dialog result v parent view
                if (param.parentViewID && param.parentViewID.length > 0) {
                    var fnParent = window[param.parentViewID + "_RowSelectionResult"];
                    if (typeof fnParent === "function") {
                        fnParent(selectedData);
                    }
                }
            
            };
            </text>
        }


        if (param.buttonCommand > 0) {

            switch (param.buttonCommand) {
                        @if (Model.ViewModel.IsDetailViewModel())
                        {
                             <text>
                            case 1: //pošiljanje podatkov DetailView
                                //get form data
                                var formInstance = $("#" + param.viewID).dxForm('instance');
                                var isValid = true;
                                try {
                                    var validationResult = formInstance.validate();
                                    if (validationResult) {
                                        console.log(validationResult);
                                    }
                                }
                                catch (err) {
                                    console.log(err);
                                }
                                if (isValid) {
                                        var reqData = formInstance.option('formData');
                                        Vasco.ui.showBusy("... pošiljam podatke ...");
                                        Vasco.server.saveData(param.controllerNamePost, param.actionNamePost, reqData, function (resultData) {
                                            if (resultData.Status == 1) {
                                                Vasco.ui.showSuccess(resultData.Message, 2000);
                                                fnDialogResult();
                                                $("#@Model.DialogID").dxPopup("hide");
                                            } else {
                                                Vasco.ui.showError(resultData.Message, 2000);
                                            }

                                        }, function () {
                                            Vasco.ui.showError('Prišlo je do napake pri povezavi do strežnika!', 2000);
                                        }, function () {
                                            Vasco.ui.hideBusy();
                                                });
                                }
                                break;
                            </text>
                        }
                        @if (Model.ViewModel.IsListViewModel())
                        {
                             <text>
                                case 2: //select rows
                                var listView = $("#" + param.viewID).dxDataGrid('instance');
                                if (listView) {
                                    var selectedRows = listView.getSelectedRowsData();
                                    if (selectedRows.length > 0) {
                                        fnDialogSelectionResult(selectedRows);
                                        $("#@Model.DialogID").dxPopup("hide");
                                    } else {
                                        Vasco.ui.showInfo('Nič ni izbrano!');
                                    }

                            }

                            break;
                            </text>
                        }
            }

        } else {
           
            @if (Model.ViewModel.IsDetailViewModel())
            {
              <text>
                if (param.viewID) {
                    var formInstance = $("#" + param.viewID).dxForm('instance');
                    param.formData = formInstance.option('formData');
                    var isValid = true;
                    if (param.dialogResult == "drOk" || param.dialogResult == "drYes" || param.dialogResult == "drConfirm") {
                        try {
                            var validationResult = formInstance.validate();
                            if (validationResult) {
                                isValid = validationResult.isValid;
                            }
                        }
                        catch (err) {
                            console.log(err);
                        }
                    }
                    if (!isValid)
                        return;
                }
              </text>
            }

            @if (Model.ViewModel.IsListViewModel())
            {
              <text>
                if (param.viewID) {
                    var listView = $("#" + param.viewID).dxDataGrid('instance');
                    if (listView) {
                        param.selectedRows = listView.getSelectedRowsData();
                    }
                }
              </text>
            }

             //obstaja handler, ki je definiran v DetailView ali ListView
            var fn = window["@(Model.ViewModel.ViewID + Model.ToolbarButtonJSClickedFuncName)"];
            if (typeof fn === "function") {
                fn(param);
            }

            if (!param.cancel && param.dialogResult != "drNone") {
                fnDialogResult();
                $("#@Model.DialogID").dxPopup("hide");
            }
        }
    }

    @if (Model.ViewModel.IsListViewModel() && !string.IsNullOrEmpty(Model.ViewModel.ParentViewID))
    {
        <text>

        function @(Model.ViewModel.ParentViewID)_RowSelectionClicked(e) {

            var listView = e.component;
                    if (listView) {
                        var selectedRows = listView.getSelectedRowsData();
                        if (selectedRows.length > 0) {
                            var fnParent = window["@(Model.ViewModel.ParentViewID)" + "_RowSelectionResult"];
                            if (typeof fnParent === "function") {
                                fnParent(selectedRows);
                            }
                             $("#@Model.DialogID").dxPopup("hide");
                        } else {
                            Vasco.ui.showInfo('Nič ni izbrano!');
                        }
                    }
        }
    </text>
    }


    </script>
