@model MenuViewModel

<div style="padding:5px;">
    @(Html.DevExtreme().TextBox()
                .Placeholder("Iskalnik")
                .Width(208)
                .Mode(TextBoxMode.Search)
                .ValueChangeEvent("keyup")
                .OnValueChanged("mainMenuSearchBoxValueChanged")
    )
    <br />
    @(Html.DevExtreme().TreeView()
            .ID("mainMenu")
            .DataSource(@Model.MenuItems)
            .DisplayExpr("Text")
            .ItemsExpr("SubItems")
            .ExpandedExpr("Expanded")
            .SelectedExpr("Selected")
            .Width("100%")
            .OnItemClick("mainMenuItemClick")
            .ItemTemplate(new JS(@"mainMenuItemTemplate"))

    )
</div>


